<%layout('layouts/boilerPlate')%>

<div class="mt-5 col-lg-4 mx-auto">
    <form action="/products" method="POST" novalidate>
        <div class="mb-3">
          <label for="productName" class="form-label">Name</label>
          <input type="text" class="form-control" id="productName" name="name" required>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Img</label>
            <input type="text" class="form-control" id="img" name="img" required>
          </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" cols="30" rows="5" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
